[Service]
Type=simple
ExecStart=/zm-aidect/zm-aidect %i
WorkingDirectory=/zm-aidect
Restart=always
RestartSec=1
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
