[Service]
Type=simple
ExecStart=/zm-aidect/zm-aidect run %i
Restart=always
RestartSec=1
User=www-data
Group=www-data

[Unit]
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
